<div class="text-intro"  id="facts">
  <p>
    Here you will find a random fun fact that will make you question everything
    you ever knew about the world.
  </p>
  <p>
    What’s useless info to some is, to others, cool, amazing fun facts that make
    the world a stimulating and awe-inspiring place. Are you one of those people
    who love collecting unexpected pieces of knowledge? </p>
  <p>If so, prepare to have
    your mind blown with these interesting fun facts that will amaze adults and
    kids alike.
  </p>
</div>
