.button {
  border: none;
  color: white;
  padding: 30px 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  margin: 40px 0px 0 600px;
  transition-duration: 1s;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10%;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.button1 {
  background-color: rgb(183, 0, 255);
  color: white;
  border: 2px solid rgb(183, 0, 255);

}

.button1:hover {
  background-color: #00ffa6;
  color: black;
  border: 2px solid black;
}

@media (max-width: 600px){
  .button{
    margin: 150px 0px 0 120px;
    font-size: 20px;
    padding: 20px 9px;
  }
}
@media (min-width: 600px){
  .button{
    margin: 200px 0px 0 240px;
    font-size: 22px;
    padding: 24px 9px;
  }
}
@media (min-width: 768px) {
  .button{
    margin: 250px 0px 0 280px;
    font-size: 24px;
    padding: 28px 9px;
  }
}
@media (min-width: 992px){
  .button{
    margin: 40px 0px 0 600px;
    font-size: 26px;
    padding: 30px 9px;
  }
}
@media (min-width: 1200px){
  .button{
    margin: 40px 0px 0 600px;
    font-size: 28px;
    padding: 30px 9px;
  }
}
