nav {
  position: absolute;
  margin-top: -40px;
  margin-left: -8px;
  height: 80px;
  width: 100%;
  background-image: linear-gradient(to right, #00ffa6, rgb(183, 0, 255));
}
ul {
  padding-right: 15px;
  margin: 0;
  display: inline-flex;
  list-style-type: none;
  justify-content: end;
}
a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 20px 15px;
  font-size: 30px;
  font-weight: 700;
}

@media (max-width: 600px){
  a {
    padding: 65px 15px;
    font-size: 30px;
  }
  nav {
    height: 160px;
  }
}
@media (min-width: 600px){
  a {
    padding: 50px 25px;
    font-size: 32px;
  }
  nav {
    height: 130px;
  }
}
@media (min-width: 768px) {
  a {
    padding: 30px 50px;
    font-size: 34px;
  }
  nav {
    height: 100px;
  }
}
@media (min-width: 992px){
  a {
    padding: 20px 80px;
    font-size: 36px;
  }
  nav {
    height: 90px;
  }
}
@media (min-width: 1200px){
  a {
    padding: 15px 100px;
    font-size: 38px;
  }
  nav {
    height: 80px;
  }
}
